.chart {
    background-color: white;
    border: 1px solid $gray;
    overflow: auto;
    margin: 8px;
    .dc-chart {
        margin: 0 auto;
    }
    .chart__title {
        border-bottom: 1px solid $gray;
        padding: 0 15px;
        p {
            line-height: 30px;
            font-size: 14px;
        }
    }
    .chart__body {
        padding: 15px;
    }
}