.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    padding: 0px 24px;
    border-bottom: 1px solid $gray;
    z-index: 10;
    .data-count {
        margin-left: auto;
        .count-widget {
            line-height: 60px;
        }
    }
}